{#
/**
 * @file
 * Overrides region.html.twig for footer region.
 *
 * @see template_preprocess_region()
 * @see region.html.twig
 *
 * Changes:
 *  - Wrapper div replaced by footer.
 *  - Drupal's default classes are ignored.
 */
#}
<footer>
  <div class="container">
    {{ content }}
  </div>
</footer>
